<table style="width:100%;border:1px solid black;">
	
		 <tr ng-repeat="obj in employees">
			  <td style="width:33%;border:1px solid black;">
			  	{{obj.employeeNumber}}
			  </td>
			   <td style="width:33%;border:1px solid black;">
			  	{{obj.firstName}}
			  </td>
			   <td style="width:33%;border:1px solid black;">
			  	{{obj.lastName}}
			  </td>
		 </tr>
	
</table>